:root{
<<<<<<< HEAD
    --primary: #08a8e7;
    --secondary: #3b3b39;
    --tertiary: #ffffff;
=======
    --primary: #610461;
    --secondary: #ba07ba;
    --tertiary: #b6569a;
>>>>>>> 31ebab02c8e836cfc7a4814af58f37e34260f3c6
    --error: #ff0000;
    --success:#008000;
    --warning:#ffff00;
}
    

/* * = Global */
* {
    outline: 0;
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
<<<<<<< HEAD
    background-color: var(--primary);
=======
    background-color: #610461;
>>>>>>> 31ebab02c8e836cfc7a4814af58f37e34260f3c6
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    
}
/* # = Id */
#card{
    background-color:gray;
    width: 35;
    padding: 50px;
    border-radius: 8px;
}

.div1 > input{
    background-color:white;
    width: 100%;
<<<<<<< HEAD
    padding: 5px; 
    height: 30px;
    border-radius: 6px;
    margin: 5px 0;
=======
    height: 30px;
    border-radius: 6px;
    margin:10px 0;
>>>>>>> 31ebab02c8e836cfc7a4814af58f37e34260f3c6

}
/* . = Class */
.btn{
    padding: 10px;
    width: 100%;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 6px; 
    
}

.btn:hover{
<<<<<<< HEAD
    background-color: var(--primary);
=======
    background-color: #610461;
>>>>>>> 31ebab02c8e836cfc7a4814af58f37e34260f3c6
    color: white;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    margin-bottom: 20px;
}

a{
    margin: 5px;
<<<<<<< HEAD
}
=======
}
>>>>>>> 31ebab02c8e836cfc7a4814af58f37e34260f3c6
